body {
    font-family: 'Roboto', 'Arial', sans-serif; 
}

#title {
    text-align: center; 
    color: darkgreen; 
    margin-top: 1vh;
    margin-bottom: 0;
}

#subtitle {
    text-align: center;
    margin-top: 1vh; 
    margin-bottom: 1vh;
}

#content {
    text-align: center;
}

#controls {
    padding-top: 2vh;
    margin-left: 30vw; 
    margin-right: 30vw;
    padding-left: 7.5vw; 
    text-align: left; 
}

#buttons {
    margin-top: 1vh; 
    margin-left: 6vw;
}

.units-label {
    margin-left: 0.2vw;
}